.message-column {
  height: 85vh;
  overflow: auto;
  padding: 10px 10px 10px 40px;
}

.message-wrapper {
  border-radius: 6px;
  margin-bottom: 24px;
  max-width: 600px;
  padding: 12px;
  background-color: #7743db;
  color: #ffe9b1;
  border-radius: 30px;
}

.msg-text {
  color: fff;
}

.sendMessage-container {
  padding: 16px 20px 20px 16px;
}

.messageInput {
  padding: 14px;
  margin-right: 16px;
  width: 60%;
  border-radius: 6px;
  border: 1px solid rgb(153, 217, 234);
  font-size: 0.9rem;
}
