.container-wrapper {
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-wrapper {
  width: 500px;
  height: 400px;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #7743db;
}

h1 {
  font-size: 32px;
  color: #ffe9b1;
}

.form-wrapper {
  margin: 20px 0;
}

input {
  width: 280px;
  height: 44px;
  margin: 14px 0;
  border: none;
  border-radius: 8px;
}

select {
  width: 280px;
  height: 44px;
  margin: 14px 0;
  border: none;
  border-radius: 8px;
}

button {
  width: 280px;
  height: 44px;
  border: none;
  border-radius: 8px;
  margin: 14px 0;
  background-color: #ffe9b1;
  color: #3b3486;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.main-button:hover {
  background-color: #3d3591;
  transition: all 0.25s ease-in;
  color: #ffe9b1;
}
